* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;  
}

body {
    font-size: 75%;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff;
}

/* HEADER */

header {
    padding: .2rem;
    height: 4rem;
    text-align: right;
    background-color: #000000;

/* DEBUG */
    border: 1px solid red;
}

.header-btn {
    display: inline-block;
    padding: .4em .6em;
    border-radius: .4em;
    background-color: #585858;

}

/* MAIN */

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    overflow-y: auto;
    height: calc(100vh - 10rem);
    background-color: #000000;
}

.user {
    position: relative;
    margin: .5rem .25rem;
    width: 16rem;
    height: 9rem;

    background-image: url(https://picsum.photos/320/180);
}

.user-name {
    position: absolute;
    left: 0;
    bottom: 0;
    padding: .5em;
    background-color: #00000050;
}

.user-name i {
    font-size: 1.5em;
}

/* FOOTER */

footer {
    display: flex;
    height: 6rem;
    background-color: #292929;

    /* DEBUG */
    border: 1px solid red;
}